{#
/**
 * @file
 * IP Button/Link paragraph bundle.
 *
 * @ingroup themeable
 */
#}

<section>
  {% for key, item in content.field_ip_bl_link if key|first != '#' %}
    <a href="{{ content.field_ip_bl_link[key]['#url'] }}" class="{{ ip_bl_type }}"{% if content.field_ip_bl_link[key]['#options'].attributes.target %} target="{{ content.field_ip_bl_link[key]['#options'].attributes.target }}"{% endif %}>
      {{ content.field_ip_bl_link[key]['#title'] }}
    </a>
  {% endfor %}

  {{ content|without('field_ip_bl_link', 'field_ip_bl_type') }}
</section>
